.title {
  font-size: 20px;
  text-align: center;
}

.button {
  margin: 0 auto;
}

.item {
  height: 300px;
  float: left;
  margin: 1% 1% 0 1%;
  width: 10%;
}

.item img {
  margin-top: 5%;
  width: 55%;
}
